

{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Yujina Shrestha</title>
	<link href="{% static '/css/demoapp.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/cover.gif' %}" >
					<hr>
					<h4>Hi I'm Yujina!</h4>
					<p>I love coding, doing research and collaborating</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>About Me</h4>
					<hr>
					<p>I am a motivated computer science student with a passion for web development. Currently, I am enhancing my skills in Django, a powerful web framework that allows for the creation of robust and scalable web applications. I have a strong foundation in Python, HTML, and CSS, which enables me to build dynamic and responsive web applications. I am eager to apply my knowledge in real-world projects and collaborate with others in the tech community.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.jpg' %}"></li>
						<li><img class="social" src="{% static 'images/linkdin.jpg' %}"></li>
						<li><img class="social" src="{% static 'images/instagram.jpg' %}"></li>
                        <li><img class="social" src="{% static 'images/twitter.jpg' %}"></li>
						
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Skills
                        Programming Languages: Python, HTML, CSS<hr><br></h5>
                        <p>Frameworks: Django<br>
                        Databases: MySQL (basic knowledge)<br>
                        Version Control: Git, GitHub<br>
                        Tools: Visual Studio Code<br>
                        </p>
				
					</div>
			</div>
            <div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			
		</div>
		
		<br>
	</div>


</body>
</html>
